.image_Left_Login{
    height: 100%;
    width: 100%;
   
}
.LoginProcessContainer{
    height:auto;
    overflow: hidden;
  
    overflow: hidden;
    width: 100% !important;
}

 


.Rightogin {
    background: white;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center

}
.LEFTLogin {
 background-image: url('../../assets/LoginBG.svg');
 background-size:95%;
 background-repeat: no-repeat;
    padding: 0 !important;
  
}

.Rightogin img{
   width: 100px;
   height: auto;
}
form label{
    font-weight: 700;
    font-size: 14px;
}

.LoginProcessContainer {
    min-height: 110vh;
    margin: 0; 
}
@media(max-width: 1024px) {
    .LEFTLogin{
        display: none;
        background-image: none;
        background-size: 100%;
    }
    .LoginProcessContainer{
       justify-content: center;
       align-items: center;
       margin: auto;
       min-height: 100vh;
       width: 100% !important;
      

    }
 
    
}
.Rightogin {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem; 
}
@media(max-width: 1024px) {
    .LoginProcessContainer {
        justify-content: center;
        padding: 20px; 
    }
    .Rightogin {
        width: 100% !important;
    }
}
@media (max-width: 768px) { 
    .Rightogin {
      width: 100% !important;
      
    }
  }
  
  @media (min-width: 992px) { 
    .Rightogin {
      width: 50% !important;
    }
  }