html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
 
  
  .mobile-menu-transition.show {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.7s ease;
    transform: translateY(-20px);
   
  }
  
  
 